* {
    box-sizing: border-box;
}

body {
font-size: 15px;
line-height: 24px;
font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}

.header__top{
    text-align: center;
    height: 100px;
    align-items: center;
}

li {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}
.menu__list li + li{
    padding-left: 50px;
}

.menu__list a{
    transition: all .7s;
}

.menu__list a:hover{
    opacity: .6;
}

.image-wrapper {
   padding-top: 10px;
   align-items: center;
}

.image-wrapper img{
    max-width: 1020px;
    align-items: center;
}

.specielised__items {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
}
 .specialised__item {
    width: 190px;
}
.specialised__item-img {
    width: 230px;
    margin-bottom: 23px;
    min-height: 159px;
}
.specialised__item-title {
    margin-bottom: 10px;
    font-size: 15px;
}
.specialised__item-text {
    padding: 0 15px;
    opacity: 0.7;
}




.instagram__items{
    display: flex;
    justify-content: space-between;
    
}

.instagram__items img{
   margin-left: 4.5px;
}




.footer__inner {
    display: flex;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    padding: 0 40px; 
}


.footer__inner{
    color: rgb(95, 95, 95);
}

.footer-form input{
    border: 2px solid rgb(185, 185, 185);
    height: 38px;
    width: 100%;
    padding: 0px 12px;
    font-size: 11px;
    font-weight: 400;
}

.footer-form button{
    border: 2px solid rgb(185, 185, 185);
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    background-color: white;
    color: rgb(122, 122, 122);
}

.newsletter-form-description{
    padding-bottom: 10px;
}