<header class="header">
  <div class="container">
    <div class="header__top">

      <div class="upper-logo">
        <li><a href="/" class="brand-logo">Сlothing store ❤️
            <p>Одежда. Санкт-Петербург</p></a></li>
      </div>

      <nav class="menu__list">

        <li><a href="/products">Магазин</a></li>

         <li><a href="/instagram">Инстаграм</a></li>
         
         <li><a href="/delivery">Доставка</a></li>

        <li><a href="/contacts">Контакты</a></li>

        <li><a href="/card">Корзина</a></li>

      </nav>

    </div>
  </div>
</header>