 <section class="contacts">
        <div class="container">

            <div class="sqs-block-content">

                <p class="" style="white-space:pre-wrap;">
                    <strong>Магазины:</strong></p>

                <p class="" style="white-space:pre-wrap;">
                    <strong>Санкт-Петербург</strong>
                    
                    Невский пр., 1
                    Работаем 11-21 ежедневно
                    + 7-921-123-45-67
                </p>

                <p class="" style="white-space:pre-wrap;">
                    Остров "Новая Голландия" 
                    здание "Бутылка"
                    Работаем 12-21 ежедневно
                    + 7-911-987-65-43 
                </p>
    
                <p class="" style="white-space:pre-wrap;"> 
                    ул. Мира, 7
                    Работаем 12-21 ежедневно
                    + 7-999-345-67-89
                </p>

                <p class="" style="white-space:pre-wrap;"><br></p>

                <p class="" style="white-space:pre-wrap;">
                    <strong>Москва</strong>

                    Хлебозавод №9 ул. Новодмитровская 1
                    Работаем 12-21 ежедневно
                    + 7-925-111-22-33
                </p>

                <p class="" style="white-space:pre-wrap;">
                    ул. Садовая - Сухаревская 5
                    Работаем 12-21 ежедневно
                    + 7-999-444-55-66
                </p>


                <p class="" style="white-space:pre-wrap;">
                    <br>
                    По вопросам доставки, заказов и сотрудничества: clothingstore@gmail.com
                </p>

                <p class="" style="white-space:pre-wrap;">
                    <a href="https://spb.hh.ru" target="_blank">Открытые вакансии</a>
                </p>

            </div>

        </div>
    </section>