<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>clothing store</title>
   
</head>
<body>

    <header class="header">
        <div class="container">

            <div class="header__top">
                <div class="upper-logo">
                    <a href="index.html">Сlothing store ❤️
                        <p>Одежда. Санкт-Петербург</p>
                    </a>
                </div>

                <nav class="menu__list">
                    <ul>
                        <li class="page-collection">
                            <a href="shop.html">Магазин</a>
                        </li>

                        <li class="page-collection">
                            <a href="#">Лукбук</a>
                        </li>

                        <li class="page-collection">
                            <a href="delivery.html">Доставка</a>
                        </li>

                        <li class="page-collection">
                            <a href="instagram.html">Инстаграм</a>
                        </li>
                        
                        <li class="page-collection">
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
         
        </div>   
       
    </header>

   <section class="delivery">
        <div class="container">

            <p>Оплата осуществляется посредством платежных систем Visa, Mastercard, Maestro, МИР а также с помощью PayPal</p><br>
            
            <p>Доставка по России и миру осуществляется служащими EMS и Почтой России (отправления 1 классом)</p><br>
            
            <p> Для наискорейшей доставки в Москву и по Санкт-Петербургу можно воспользоваться службой Балтийский курьер. Доставка в Москву (в пределах МКАД) в этом случае занимает 2 дня, стоимость от 550 рублей. Запределы кольца 900-1100 руб. По Санкт-Петербургу - 1-2 дня, стоимость от 350 рублей. Обратите внимание, что срок доставки указан в тарифах, а не в день отправки, выходные и праздничные дни</p><br>
           
            <p> Также возможен самовывоз из магазина, расположенного по адресу СПБ Невский пр. 1</p> <br>
                
            <p>Часы работы 11-21, ежедневно. + 7-921-123-45-67 и самовывоз из магазина в Москве, расположенном на территории Хлебозавода №9. Часы работы 12-21, ежедневно. Заказ на самовывозу из Москвы готов к выдаче через 7-14 дней, после оформления заказа</p><br>
           
            <img src="images/delivery.jpeg" alt="" style="max-width: 1020px;" >

            <br>

           <p> <h3>Оплата с помощью банковской карты</h3></p> <br>

           <p>Для выбора товара необходимо нажать кнопку «Оплата банковской картой».</p>
           
           <p>Оплата происходит через авторизационный сервер. Банковские кредитные карты платежных систем VISA и MasterCard.</p> <br>

           <p> <h3>Описание процесса передачи данных</h3></p> <br>

           <p>Для оплаты покупателя вы будете перенаправлены на платежный шлюз ОАО "Сбербанк России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.</p> <br>

           <p>В случае, если ваш банк поддерживает технологию интернет-платежей Проверено Visa или MasterCard Secure Code для проведения платежа. Вы можете уточнить в банке, выпустил карту.</p> <br>

           <p>Настоящий сайт поддерживает 258-битное шифрование. Конфиденциальность сообщаемой персональной информации предоставляется ОАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.</p> <br>

           <p><h3>Описание процессa оплаты</h3></p> <br>

           <p>Форма оплаты с помощью пластиковой карты. После завершения оформления заказа в нашем магазине вы должны будете нажать на кнопку «Оплата банковской карты», при этом система переключится на страницу авторизационного сервера, где вам будут предложены данные пластиковой карты, чтобы начать авторизацию, после чего вернуться в наш магазин. "Вернуться в магазин". Система уведомлений о результатах авторизации. Ваш заказ будет автоматически выполнен в соответствии с заданными Вами условиями. Вы можете повторить процедуру оплаты.</p> <br>

           <p> <h3>Возврат и обмен</h3> </p> <br>

           <p>Если вещь не подошла, возможен обмен или возврат в течении 14-ти дней с момента получения заказа. Пересылка за счет покупателя, перед отправкой необходимо написать письмо на info@infoemail.ru.</p>

        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="img">
                    <img src="images/imgcards.png" alt="">
                </div>

                <div class="footer-form">
                    <div class="newsletter-form-description">
                        <p>Новости о новых коллекциях</p>
                    </div>
                    <input id="email" class="newsletter-form" name="email" type="text" placeholder="Email Address">
                    <button>Подписаться</button>
                </div>



                <div class="icons-link">
                    <nav class="">
                        <a href="https://vk.com" target="_blank" class="sqs-svg-icon--wrapper vevo">VK</a>

                        <a href="https://www.facebook.com" target="_blank" class="sqs-svg-icon--wrapper facebook">FB</a>

                        <a href="mailto:email@yandex.ru" target="_blank" class="sqs-svg-icon--wrapper email">Email</a>
                    </nav>
                </div>
            </div>      
        </div>
    </footer>
    
</body>
</html>