<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <title>clothing store</title>
   
</head>
<body>

    <header class="header">
        <div class="container">

            <div class="header__top">
                <div class="upper-logo">
                    <a href="index.html">Сlothing store ❤️
                        <p>Одежда. Санкт-Петербург</p>
                    </a>
                </div>

                <nav class="menu__list">
                    <ul>
                        <li class="page-collection">
                            <a href="shop.html">Магазин</a>
                        </li>

                        <li class="page-collection">
                            <a href="#">Лукбук</a>
                        </li>

                        <li class="page-collection">
                            <a href="delivery.html">Доставка</a>
                        </li>

                        <li class="page-collection">
                            <a href="instagram.html">Инстаграм</a>
                        </li>
                        
                        <li class="page-collection">
                            <a href="contacts.html">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>
         
            
            <div class="image-wrapper">
                <img src="images/img5.jpeg" alt="">
            </div>
        </div>   
       
    </header>

   <section class="specialised">
        <div class="container">

            <div class="specielised__items">

                <div class="specialised__item">
                    <div class="specialised__item-img">
                        <img class="specialised__item-img" src="images/img1.jpeg" alt="">
                    </div>
                    <div class="specialised__item-title">
                        Джинсы синие с высокой посадкой
                    </div>
                    <div class="specialised__item-text">
                        4500 р.
                    </div>
                </div>

                <div class="specialised__item">
                    <div class="specialised__item-img">
                        <img class="specialised__item-img" src="images/img2.jpeg" alt="">
                    </div>
                    <div class="specialised__item-title">
                        Рубашка женская свобного кроя
                    </div>
                    <div class="specialised__item-text">
                        3700 р.
                    </div>
                </div>
                <div class="specialised__item">
                    <div class="specialised__item-img">
                        <img class="specialised__item-img" src="images/img3.jpeg" alt="">
                    </div>
                    <div class="specialised__item-title">
                        Фланелевая рубашка в клетку
                    </div>
                    <div class="specialised__item-text">
                        4200 р.
                    </div>
                </div>
                <div class="specialised__item">
                    <div class="specialised__item-img">
                        <img class="specialised__item-img" src="images/img4.jpeg" alt="">
                    </div>
                    <div class="specialised__item-title">
                        Платье женское на запах
                    </div>
                    <div class="specialised__item-text">
                       5100 р.
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <div class="img">
                    <img src="images/imgcards.png" alt="">
                </div>

                <div class="footer-form">
                    <div class="newsletter-form-description">
                        <p>Новости о новых коллекциях</p>
                    </div>
                    <input id="email" class="newsletter-form" name="email" type="text" placeholder="Email Address">
                    <button>Подписаться</button>
                </div>



                <div class="icons-link">
                    <nav class="">
                        <a href="https://vk.com" target="_blank" class="sqs-svg-icon--wrapper vevo">VK</a>

                        <a href="https://www.facebook.com" target="_blank" class="sqs-svg-icon--wrapper facebook">FB</a>

                        <a href="#" target="_blank" class="sqs-svg-icon--wrapper email">Email</a>
                    </nav>
                </div>
            </div>      
        </div>
    </footer>
    
</body>
</html>